:root {
  font-family: "Pretendard", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #212121;


  /* variable */
  --maincolor01: #6A0104;
  --maincolor02: #F4E2CA;
  --maincolor_light: #bb8378;
  --bgcolor: #FAFAFA;
  --gray100: #F5F5F5;
  --gray200: #EEEEEE;
  --gray300: #E0E0E0;
  --gray400: #BDBDBD;
  --gray500: #9E9E9E;
  --gray600: #757575;
  --gray700: #616161;
  --gray800: #424242;
  --gray900: #212121;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}